
<h2>New book</h2>

<%= form_with model: Book.new do |f| %>

  <a>Title</a><br>
  <%= f.text_field :title %>
<br>
<br>
  <a>Body</a><br>
  <%= f.text_area :body %><br>
<br>
  <%= f.submit 'Create Book' %>
<% end %>